<!DOCTYPE html>
<html>
  <head>
    <title>My MongoDB Atlas Data</title>
  </head>
  <body>
    <h1>My MongoDB Atlas Data</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(item) { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
