<div class="col-sm-5 ">
    <form role="form" id="register_form" class="register-form mb40-xs" action="/signup" method="post">
        {{!-- <link rel="stylesheet" href="/Project2-main/style4regis.css"> --}}
        <link rel="stylesheet" type="text/css" href="css/style4regis.css">
        <h3 class="no-margin-top mb20">register</h3>
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Full name" required="required">
        
        
            <input type="text" name="email" class="form-control" placeholder="Email Address" required="required">
    
        
            <input type="text" name="username" class="form-control" placeholder="User name" required="required">
        
        
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        
        
            <input type="submit" value="signup">
        
    </form>
</div>