*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contanier{
    width: 100;  
    display: flex;
}
.contanier .div-form{
    height: 100vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contanier .div-form h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.contanier .div-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .textbox{
    width: 60px;
    margin: auto;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 50px;
    position: relative;
}
form .textbox input{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 20px 70px;
    font-size: 18px;
    justify-content: center;
    box-shadow: 20px 20px 20px #8e1df720,
    -10px -10px 20px #8e1df720;
}
form .textbox i{
    position: absolute;
    color: #8e1df7;
    font-size: 30px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
form .textbox .eyes{
    left: 90%;
    font-size: 16px;
    cursor: pointer;
}
form .check{
    width: 60%;
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
}
form .check input{
    margin: 0 5px 0 20px;
}
form .check1 span{
    margin-top: 3px;
    color:#555555;
    font-size: 13px;
}
form .check span{
    margin-top: 4px;
    color:#555555;
    font-size: 13px;
}

form .btn{
    color: #ffff;
    font-size: 20px;
    width: 250px;
    margin: auto;
    background: linear-gradient(170deg,#8e1df7,#19025e);
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
}
form .spn-regs{
    text-align: center;
    font-size: 14px;
}
form .spn-regs a{
    color: #8e1df7;
    text-decoration: none;
}
form .spn-regs:hover a {
    text-decoration: underline;
}


.contanier .div-text{
    height: 100vh;
    width: 40%;
    background: linear-gradient(170deg,#8e1df7,#19025e);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contanier .div-text h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 20px;
}
.contanier .div-text p{
    margin: 0 auto;
    width: 60%;
    color: #f0f0f0;
    font-size: 14px;
    line-height: 2;
}